h1.title {
  font-size: 22px;
  text-align: center;
  color: salmon;
  font-weight:bold;
  font-family: "Times New Roman"
}
h1 { 
  font-size: 22px;
  text-align: center;
  color: Gold;
  font-weight:bold;
}
h2, h3 {
  font-size: 18px;
  text-align: center;
  color: navy;
}

body{ 
  background-color: DarkSeaGreen;
  font-size: 11px;
  color: SandyBrown;
  }


.first-box {
  background-color: LemonChiffon;
  color: white;
  }
  
.second-box {
  background-color: aquamarine;
  color: white;
  }

.third-box {
  background-color: wheat;
  color: white;
  h3 {
  text-align: center;
  color: Red;
  }
  }

.fourth-box {
  background-color: azure;
  color: white;
  font-size: 20px;
  color: Red;
  }