h1.title {
  font-size: 32px;
  text-align: center;
  color: #42b883;
  font-weight:bold;
  font-family: "Lucida Handwriting";
}
h1 { 
  font-size: 22px;
  text-align: center;
  color: #347474;
  font-weight:bold;
  font-family: "Lucida Handwriting";
}
h2, h3 {
  font-size: 18px;
  text-align: center;
  color: #35495e;
  font-family: "Lucida Handwriting";
}

body{ 
  background-color: DarkSeaGreen;
  font-size: 11px;
  color: #ff7e67;
  }


.first-box {
  background-color: LemonChiffon;
  color: white;
  }
  
.second-box {
  background-color: aquamarine;
  color: white;
  }

.third-box {
  background-color: wheat;
  color: white;
  h3 {
  text-align: center;
  color: Red;
  }
  }

.fourth-box {
  background-color: azure;
  color: white;
  font-size: 20px;
  color: Red;
  }